
<div class="container" >
	<h1 class= "text title">Welcome MotherFucker</h1>
	<p class = "text">Loren Ipsum Ipsun dodoododod</p>

	<form>
		<div class="form-group">
			<label for="pickup_address">Pickup Address</label>
			<input type="address" id="current_location_field" class="form-control" placeholder="3453 Apex Lane">
		</div>
		<div class="form-group">
			<label for="destination_address">Destination Address</label>
			<input type="address" id="destination_field" class="form-control" placeholder="3453 Forest Avenue">
		</div>
	</form>

	<button class="btn btn-primary" id="submit_button" type="submit">Submit</button>

</div>


